# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: build

on: [ push, pull_request ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Build
        run: gradle build
      - name: codeCoverage report
        run: gradle jacocoTestReport
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          verbose: true
          files: '*.xml'
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}